{% extends 'base.html' %}
{% block content %}
        <h3>Clients</h3>
        <td><button class="btn btn-primary" data-toggle="modal" data-target="#new"><span class="glyphicon glyphicon-plus-sign"></span> New</button></td>

        <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>URL</th>
             <th>Status</th>
            <th>Logs</th>
        </tr>
        </thead>

			{% for client in clients %}
            <tr>
				<td> <input type="text" disabled class="form-control" value="{{ client.uid }}"></td>
				<td><input type="text" class="form-control" value="{{ client.name }}"></td>
				<td><input type="text" class="form-control" value="{{ client.email }}"></td>
                <td><input type="text" class="form-control" value="{{ client.url }}"></td>
                 {% if client.status %}
                <td> <input checked type="checkbox"></td>
                {% else %}
                <td> <input type="checkbox"></td>
                {% endif %}
                <th><a href="/log/{{ client.uid }}"><span class="glyphicon glyphicon-eye-open"></span></a> </th>

            </tr>
			{% endfor %}

        </table>

         <td><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button></td>



<!-- new -->

<!-- Modal -->

<div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add new client</h4>

      </div>
      <div class="modal-body">
        {% from "_formhelpers.html" import render_field %}
        <form method="post" action="/client">
          <dl>
            {{ render_field(form.name) }}
            {{ render_field(form.email) }}
            {{ render_field(form.url) }}
          </dl>
          <p><input type=submit class="btn btn-success" value=Save>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}