{% extends 'base.html' %}
{% block content %}
        <h3>Logs</h3>
        <table class="table table-hover">
        <thead>
        <tr>
            <th>Client</th>
            <th>Type</th>
            <th>Date</th>
            <th>Files</th>
        </tr>
        </thead>
			{% for log in logs %}
            <tr>
				<td>{{ log.client.name }}</td>
				<td>{{ log.type }}</td>
				<td>{{ log.date }}</td>
                <td>{{ log.item }}</td>
            </tr>
			{% endfor %}

        </table>
{% endblock %}
